.card {
    align-items: center;
    background: #141111d0;
    padding: 2em;
    border-radius: 40px;
    width: 100%;
    max-width: 420px;
    text-align: center;
    margin: 0.5em;
    color: white;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    font-style: 'Open Sans', sans-serif;
}

body {
    display: flex;
    font-style: 'Open Sans', sans-serif;
    justify-content: center;
    align-items: center;
    background: #dbb2b2d0;
    margin: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape,weather');
    font-size: 130%;

}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.5em;
    border-radius: 40px;
    color: black;
    font-style: inherit;
    font-family: sans-serif;
    font-size: 100%;
    height: 25px;
    background: #d3cccc54;
    transition: 0.2s ease-in-out;
    
}

button:hover {
    background: white;
}



input.search-bar:hover {
    background: white;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.5em;
    border-radius: 40px;
    color: black;
    font-style: inherit;
    font-family: sans-serif;
    font-size: 100%;
    height: 25px;
    background: #d3cccc54;
    transition: 0.2s ease-in-out;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 40px;
    outline: none;
    background: #d3cccc54;
    width: 40px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    display: flex;

}

.description {
    text-transform: capitalize;
}

h1.temp {
    margin: 0;
    margin-bottom: 1em;
    font-style: bold;
}
